.menu {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 20px auto;
}
.menu button {
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
}
.menu a {
    color: #ccc9c6;
    transition: var(--main-transition);
}
.menu a:hover {
    text-decoration: underline;
}