.list {
    display: inline-block;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.list div {
    width: 100%;
    max-height: 800px;
    overflow-x: auto;
    margin: 20px 0;
}
.list table {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    min-width: 600px;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid var(--white-color);
}
.list th,
.list td {
    padding: 10px;
    border: 1px solid var(--white-color);
}
.list button {
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
}
.list a {
    border-radius: 5px;
    padding: 4px;
    margin: 0;
}
.action {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.id {
    font-size: 8px;
}
.name {
    color: var(--white-color);
}
.name:hover {
    -webkit-text-fill-color: transparent;
    background: var(--background-color);
    background-clip: text;
}