.form {
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    margin: 32px auto;
}
.form label,
.form input {
    display: block;
    width: 100%;
}
.form input {
    border: 1px solid var(--border-color);
    outline: none;
    background-color: var(--input-background);
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    font-size: 16px;
    transition: var(--main-transition);
    border-radius: 5px;
    color: var(--white-color);
}
.form input:focus {
    border-color: var(--sky-color);
}
.form label {
    color: var(--border-color);
    font-size: 18px;
}
.action {
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    margin: 20px 0;
}
.action button {
    padding: 8px 24px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
}
.action button[type = 'button'] {
    background-color: transparent;
    color: #ccc9c6;
    border: none;
    cursor: pointer;
}

@media (max-width: 500px) {
    .form {
        width: 100%;
        max-width: 500px;
        padding: 20px;
    }
}