.header nav div ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 20px auto;
    gap: 10px;
}
.header nav div a {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 2px 10px;
    border-radius: 4px;
    background-color: var(--white-color);
    color: var(--black-color);
}
.header nav div a:after {
    position: absolute;
    content: '';
    top: -50%;
    right: -100%;
    bottom: 0;
    height: 200%;
    width: 30px;
    background-color: #00000065;
    transform: rotate(30deg);
    z-index: 100%;
    transition: .5s ease-in-out;
}
.header nav div a:hover:after {
    right: 200%;
}

.header nav div .active {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 2px 10px;
    border-radius: 4px;
    background: var(--background-color);
    color: var(--white-color);
}
.header nav div .active::after {
    position: absolute;
    content: '';
    top: -50%;
    right: -100%;
    height: 200%;
    width: 30px;
    background-color: #ffffff3d;
    transform: rotate(30deg);
    z-index: 100;
    transition: .5s ease-in-out;
}
.header nav div .active:hover::after {
    right: 200%;
}
