.header {
    position: relative;
    background-color: var(--black-color);
    padding: 10px 0;
}
.header::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: var(--border-color);
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container h1 {
    font-size: 28px;
    background: var(--background-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container ul {
    display: flex;
    align-items: center;
    gap: 20px;
}
.container ul li a {
    position: relative;
    display: inline-block;
    color: var(--white-color);
    padding-bottom: 4px;
    transition: .5s ease-in-out;
}
.container ul li a::after {
    content: '';
    position: absolute;
    bottom: 1px;
    right: 0;
    width: 0%;
    height: 2px;
    background: var(--background-color);
    transition: .5s ease-in-out;
}
.container ul li a:hover::after {
    width: 100%;
}
.container ul li a:hover,
.active {
    background: var(--background-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container ul li form button {
    padding: 10px 16px;
    border-radius: 4px;
}
@media (max-width: 515px) {
    .container h1 {
        font-size: 20px;
    }
    .container ul li a {
        font-size: 12px;
    }
}